.Header
{
    position: fixed;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 10px 20px 3px #000000a9;
    z-index: 50;
    top: 0;
}

.Header-image-container
{
    margin: .5rem 0;
    padding: 0 3rem;
    height: 80px;
    img
    {
        max-height: 100%;
    }
}

.scroll
{
    background-color: rgba(0, 0, 0, 0.555);
    box-shadow: none;
    .Header-nav
    {
        a
        {
            color: rgba(255, 255, 255, 0.918);
        }
    }
    .Header-drop-down
    {
        background-color: rgba(255, 255, 255, 0);
        i
        {
            color: white;
        }
    }
    .Header-sidebar
    {
        background-color: rgba(0, 0, 0, 0.733);
        a
        {
            color: rgb(240, 240, 240);
        }
    }

    animation: headerShow .5s;
}

.Header-nav
{
    z-index: 10; 
    display: flex;
    margin: 0 2rem;
    a
    {
        cursor: pointer;
        color: rgb(56, 56, 56);
        letter-spacing: .5px;
        font-size: 16px;
        margin: 0 1.75rem;
        margin-top: .5rem;
        border-radius: 3px;
        text-decoration: none;

        .underline
        {
            opacity: 0;
            margin-top: .25rem;
            width: 100%;
            height: 2px;

        }
    }

    a:hover
    {
        .underline
        {
            opacity: 1;
            animation: textShow .3s;
            background-color: rgb(252, 157, 69);
        }
    }
}

.Header-drop-down
{
    cursor: pointer;
    display: none;
    position: absolute;
    border: none;
    outline: none;
    left: 80%;
    justify-self: right;
    i
    {
        font-size: 25px;
    }

}

.Header-drop-down:hover
{
    i
    {
        color: orangered;
    }
}

.Header-sidebar
{
    display: none;
    border-top: 2px orangered solid;
    animation: slide-in .65s ease-in-out;
    position: fixed;
    top: 70px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    a
    {
        cursor: pointer;
        color: rgb(90, 90, 90);
        letter-spacing: .5px;
        font-size: 15px;
        margin-top: .5rem;
        padding: .5rem 0;
        text-decoration: none;

        .underline
        {
            opacity: 0;
            margin-top: .25rem;
            width: 100%;
            height: 2px;
        }
    }
    a:hover
    {
        .underline
        {
            opacity: 1;
            animation: textShow .3s;
            background-color: rgb(252, 157, 69);
        }
    }

    &.close
    {
        animation: slide-out .65s ease-in-out;
        animation-fill-mode: forwards;
    }
}

.close{display:none;}

@keyframes headerShow
{
    0%   {opacity: 0; transform: translateY(-5rem);}
    100% {opacity: 1; transform: translateY(0);} 
}

@keyframes textShow {
    0%   {opacity: 0; transform: scale(0);}
    25%   {opacity: 1; transform: scale(.25);}
    50%   {opacity: 1; transform: scale(.5);}
    75%   {opacity: 1; transform: scale(.75);}
    100% {opacity: 1; transform: scale(1);  background-color: rgb(252, 157, 69)} 
}

@keyframes slide-in
{
    0%   {transform: translateX(50%); opacity: 0;}
    25% {opacity: .25;}  
    50% {opacity: .5;}  
    75% {opacity: .75;}  
    100% {transform: translate(0, 0); opacity: 1;}  
}

@keyframes slide-out
{
    0%   {left: 0px; opacity: 1;}
    25% {opacity: .75;}  
    50% {opacity: .5;}  
    75% {opacity: .25;}  
    100% {transform: translate(10%); opacity: 0; display: none;}  
}

@media screen and (max-width: 1500px) {
    .Header
    {
        height: 70px;
    }

    .Header-image-container
    {
        height: 60px;
    }
}

@media screen and (max-width: 1000px) {
    .Header-nav
    {
        margin: 0 1rem;
        a
        {
            font-size: 15px;
        }
    }


    .Header-drop-down
    {
        display: block;
    }

    .Header-nav
    {
        display: none;
    }

    .Header-sidebar
    {
        display: flex;
    }
}

@media screen and (max-width: 700px) 
{
    .Header-sidebar
    {
        a{
            font-size: 13px;
        }
    }
}