.Landing
{
    margin-top: 90px;
    position: relative;
    width: 100%;
    height: 1350px;
    max-height: 90vh;
    min-height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-image: url("../../Images/contact-background.jpg");

    font-family: 'Oswald', sans-serif;
}

.Landing-info
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Landing-text
{
    color: white;
    text-align: center;
    letter-spacing: 1px;

    h1
    {
        color: rgba(255, 255, 255, 0.822);
        font-family: 'Oswald', sans-serif;
        font-size: 35px;
        font-weight: 300;
    }
    h2
    {
        font-family: 'Mayan_font', sans-serif;
        font-size: 150px;
        font-weight: 100;
    }

    p
    {
        color: rgba(255, 255, 255, 0.822);
        font-size: 25px;
    }
}

.Landing-Icons
{
    font-size: 30px;
    padding-top: .5rem;
    i
    {

        margin: 0 1rem;
    }
}

.Landing-About
{
    width: 100vw;
    color: rgba(255, 255, 255, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;

    h2
    {
        font-weight: 300;
        padding: 0 1rem;

        .about-icon
        {
            padding-right: .5rem;
        }
    }
}

.Landing-button
{
    margin: 1rem auto;
    display: block;
    text-align: center;
    height: 40px;
    width: 175px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Oswald", "Sans-serif";
    border: 2px solid white;
    color: white;
    background-color: rgba(128, 128, 128, 0);
    outline: none;
    padding-top: .25rem;

    transition: background-color .5s, color .5s;
}

.Landing-button:hover
{
    border-color: rgb(255, 106, 52);
    background-color: rgb(255, 106, 52);
    color: white;
}

.About-intro
{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1500px) {
    .Landing
    {
        margin-top: 70px;
    }
    .Landing-text
    {
        h1
        {
            font-size: 30px;
        }
        h2
        {
            font-size: 120px;
        }

        p
        {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .Landing-About
    {
        h2
        {  
            font-size: 18px;
        }
    }

    .About-intro
    {
        flex-direction: column;
    }

    .Delivery
    {
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    .Landing-info
    {
        width: 100%;
    }
    
    .Landing-text
    {
        width: 100%;
        h1
        {
            font-size: 25px;
        }
        h2
        {
            font-size: 70px;
        }
        p
        {
            font-size: 15px;
        }
    }
    
    .Landing-About
    {
        h2
        {  
            font-size: 13px;
            padding: 0 .5rem;
            .about-icon
            {
                padding-right: .5rem;
            }
        }
    }

}
